<!-- <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <li><%#= link_to "Parents",  new_parent_path %></li>
          <li><%#= link_to "Students", new_student_path %></li>
          <li><%#= link_to "Activities", new_activity_path %></li>
          <li><%#= link_to "Carpoolers", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<body>
	<h2>Welcome to the landing page - Start with parent registration here</h2>
	<%#= link_to 'Start here', new_parent_path, {:class => "btn btn-primary pull-right"} %>
</body> -->