/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 //= require foundation_and_overrides
 *= require_tree .
 */
 /**= require bootstrap-datetimepicker*/

 @import "foundation";

.us_date select{
	width: 90px;
}

.us_time select{
	width: 90px;
}

#student_edit_modal{
	float: left;
	margin-left: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
}
	

#signup{
	float: right;
}
.container{
	/*background-color: #EEEEEE;*/
}

 